In [1]:
# get all stock data
# calculate sharp ratio for all
# pick stock with best sharp
# report findings

In [35]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv('data/^GSPC.csv')

In [37]:
df.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  1950-01-01  16.660000  17.090000  16.650000  17.049999  17.049999  42570000
1  1950-02-01  17.049999  17.350000  16.990000  17.219999  17.219999  33430000
2  1950-03-01  17.240000  17.610001  17.070000  17.290001  17.290001  40410000
3  1950-04-01  17.340000  18.070000  17.340000  18.070000  18.070000  48250000
4  1950-05-01  18.219999  18.780001  18.110001  18.780001  18.780001  45080000

In [ ]:
# אני צריך למצוא דרך למשוך כמה שיותר אחוזים בפנסיה
# אס אנד פי מאפשר 6% ב95% סיכוי, זה אומר שהסטיית תקן שלו ממש נמוכה, סביב ה 1 אחוז
# אולי יש מנייה אחרת שנותנת יותר מ6%
# אז איך בודקים
# בגדול זה הממוצע פחות 2 סטיות תקן
# מהזיכרון שלי ממוצע הוא אותו סדר גודל של הסטיית תקן
# אז איך הגענו ל6%

In [5]:
df['Adj Close'].std()

702.1504740538936

In [9]:
df['diff'] = df['Adj Close']/df['Adj Close'].shift()

In [10]:
df['diff'].std()

0.041078968438413195

In [12]:
df['diff'].mean()

1.007027170866577

In [21]:

df['diff'].quantile(.4)**12

1.000831640613686

In [38]:
df = df.loc[pd.to_datetime(df['Date']).apply(lambda x: x.month==1)]

In [39]:
df['diff'] = df['Adj Close']/df['Adj Close'].shift()

In [44]:
df['diff'].quantile(.05)

0.8261632740140511

In [ ]:
# strategy: for each stock, sample 30 years until convergance - 
# Find the highest 95% (.05 quantile) of the samples
# Each year invest in the one that maximizes that
# check .05 quantile for the strategy
# should be higher