In [26]:
import os
import pandas as pd
import numpy as np
import re

In [3]:
police_shootings = pd.read_csv('data/U.S. Police Shootings Data (Responses) - Responses.csv')

In [5]:
police_shootings.head()

,Timestamp,Date Searched,State,County,City,Agency Name,Victim Name,Victim's Age,Victim's Gender,Race,...,Name of Officer or Officers,Shootings,Was the Shooting Justified?,Receive Updates?,Name,Email Address,Twitter,Date of Incident,Results Page Number,Unnamed: 26
0,8/20/2014 12:06:49,10/15/1986,AZ - Arizona,maricopa,Phoenix,phoenix police,David Valenzuela,24.0,Male,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8/20/2014 12:09:29,10/15/1986,TX - Texas,Guadalupe,cibolo,cibolo police department,Kennen Marksbury,41.0,Male,White,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/20/2014 12:11:57,10/15/1986,NJ - New Jersey,morris,Mountain lakes,Mountain Lakes PD,Leonardo Parera,39.0,Male,White,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8/20/2014 13:06:16,7/15/1995,TX - Texas,Harris,Houston,Bellaire Police Department,Travis O'Neill Allen,15.0,Male,White,...,Michael Leal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8/20/2014 13:30:17,9/27/2003,OH - Ohio,Preble,West Alexandria,Preble County Emergency Services Unit,Clayton Helriggle,23.0,Male,White,...,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
police_shootings['datetime'] = pd.to_datetime(police_shootings['Timestamp'])

In [5]:
police_shootings['year'] = police_shootings['datetime'].apply(lambda x: x.year)

In [6]:
police_shootings_2014 = police_shootings[police_shootings.year == 2014]

In [34]:
police_shootings_2014.head()

,Timestamp,Date Searched,State,County,City,Agency Name,Victim Name,Victim's Age,Victim's Gender,Race,...,Was the Shooting Justified?,Receive Updates?,Name,Email Address,Twitter,Date of Incident,Results Page Number,Unnamed: 26,datetime,year
0,8/20/2014 12:06:49,10/15/1986,AZ - Arizona,maricopa,Phoenix,phoenix police,David Valenzuela,24.0,Male,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-08-20 12:06:49,2014
1,8/20/2014 12:09:29,10/15/1986,TX - Texas,Guadalupe,cibolo,cibolo police department,Kennen Marksbury,41.0,Male,White,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-08-20 12:09:29,2014
2,8/20/2014 12:11:57,10/15/1986,NJ - New Jersey,morris,Mountain lakes,Mountain Lakes PD,Leonardo Parera,39.0,Male,White,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-08-20 12:11:57,2014
3,8/20/2014 13:06:16,7/15/1995,TX - Texas,Harris,Houston,Bellaire Police Department,Travis O'Neill Allen,15.0,Male,White,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-08-20 13:06:16,2014
4,8/20/2014 13:30:17,9/27/2003,OH - Ohio,Preble,West Alexandria,Preble County Emergency Services Unit,Clayton Helriggle,23.0,Male,White,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-08-20 13:30:17,2014

In [17]:
police_shootings.columns

Index(['Timestamp', 'Date Searched', 'State', 'County', 'City', 'Agency Name',
       'Victim Name', 'Victim's Age', 'Victim's Gender', 'Race',
       'Hispanic or Latino Origin', 'Shots Fired', 'Hit or Killed?',
       'Armed or Unarmed?', 'Weapon', 'Summary', 'Source Link',
       'Name of Officer or Officers', 'Shootings',
       'Was the Shooting Justified?', 'Receive Updates?', 'Name',
       'Email Address', 'Twitter', 'Date of Incident', 'Results Page Number',
       'Unnamed: 26'],
      dtype='object')

In [36]:
police_shootings_2014[police_shootings_2014.Race == 'White']['Was the Shooting Justified?'].mean()

3.003021148036254

In [12]:
police_shootings.Race.unique()

array([nan, 'White', 'Unknown', 'Black or African American', 'Asian',
       'American Indian or Alaska Native',
       'Native Hawaiian or Other Pacific Islander'], dtype=object)

In [18]:
police_shootings['Hispanic or Latino Origin'].unique()

array([nan, 'Not of Hispanic or Latino origin', 'Unknown',
       'Hispanic or Latino origin'], dtype=object)

In [37]:
police_shootings_2014[police_shootings_2014.Race == 'Black or African American']['Was the Shooting Justified?'].mean()

2.7169811320754715

In [38]:
police_shootings_2014[police_shootings_2014['Hispanic or Latino Origin'] == 'Hispanic or Latino origin']['Was the Shooting Justified?'].mean()

2.9342105263157894

In [44]:
df = police_shootings_2014

In [61]:
def black_to_white_ratio(df):
    white = df[df.Race == 'White']
    black = df[df.Race == 'Black or African American']
    white_unjustified_ratio = (white['Was the Shooting Justified?']<3).sum()/white['Was the Shooting Justified?'].count()
    black_unjustified_ratio = (black['Was the Shooting Justified?']<3).sum()/black['Was the Shooting Justified?'].count()
    return black_unjustified_ratio/white_unjustified_ratio-1

In [54]:
(white['Was the Shooting Justified?']<3).sum()

134

In [52]:
len(white)

498

In [53]:
(black['Was the Shooting Justified?']<3).sum()

95

In [51]:
len(black)

341

In [56]:
white_unjustified_ratio

0.40483383685800606

In [57]:
black_unjustified_ratio

0.4481132075471698

In [59]:
black_unjustified_ratio/white_unjustified_ratio-1

0.10690650520979994

In [63]:
black_to_white_df = police_shootings_2014.groupby('County').apply(black_to_white_ratio)

/Users/jvalansi/.venv/notebooks/lib/python3.7/site-packages/ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in long_scalars
  after removing the cwd from sys.path.
/Users/jvalansi/.venv/notebooks/lib/python3.7/site-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in long_scalars
  """
/Users/jvalansi/.venv/notebooks/lib/python3.7/site-packages/ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in double_scalars

/Users/jvalansi/.venv/notebooks/lib/python3.7/site-packages/ipykernel_launcher.py:6: RuntimeWarning: divide by zero encountered in double_scalars

In [64]:
black_to_white_df.dropna()

County
Alameda          0.000000
Baltimore             inf
Broward         -1.000000
Clark           -1.000000
Cobb            -1.000000
Contra Costa          inf
Cook                  inf
Dade            -0.333333
Franklin        -1.000000
Gregg           -1.000000
Hamilton              inf
Harris          -0.428571
Hennepin        -1.000000
Henry                 inf
Los Angeles      0.500000
Maimi-Dade       0.000000
Miami-Dade            inf
Middlesex             inf
Orange           0.333333
Orange County   -1.000000
Passaic         -1.000000
Riverside        0.250000
Solano                inf
Spokane               inf
St. Louis        0.000000
Travis           0.000000
Union                 inf
Wayne           -0.500000
York            -1.000000
dtype: float64

In [65]:
black_to_white_ratio(df)

0.10690650520979994

In [7]:
income = pd.read_html('https://en.wikipedia.org/wiki/List_of_United_States_counties_by_per_capita_income')

In [11]:
income_df = income[2]

In [12]:
income_df.head()

,Rank,County or county-equivalent,"State, federal district or territory",Per capitaincome,Medianhouseholdincome,Medianfamilyincome,Population,Number ofhouseholds
0,1,New York County,New York,"$62,498","$69,659","$84,627",1605272.0,736192.0
1,2,Arlington,Virginia,"$62,018","$103,208","$139,244",214861.0,94454.0
2,3,Falls Church City,Virginia,"$59,088","$120,000","$152,857",12731.0,5020.0
3,4,Marin,California,"$56,791","$90,839","$117,357",254643.0,102912.0
4,5,Alexandria City,Virginia,"$54,608","$85,706","$107,511",143684.0,65369.0

In [14]:
income_df = income_df.set_index('County or county-equivalent')

In [15]:
median_income = income_df['Medianhouseholdincome']

In [17]:
police_shootings_2014 = police_shootings_2014.merge(median_income, right_index=True, left_on='County')

In [31]:
police_shootings_2014['Was the Shooting Justified?'].corr(police_shootings_2014['Medianhouseholdincomenumeric'])

-0.0028343421835552913

In [30]:
police_shootings_2014['Medianhouseholdincomenumeric'] = pd.to_numeric(police_shootings_2014['Medianhouseholdincome'].apply(lambda x: re.sub('[\$,]','',x) if type(x)==str else 0))