In [2]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('data/ar_50k.txt', sep=' ', names=['word', 'freq'])

In [11]:
df.head()

  word     freq
0    ØŒ  5527080
1   Ù„Ø§  3103772
2   Ù…Ù†  2965717
3   ÙÙŠ  2420145
4   Ø£Ù†  2319199

In [12]:
dfs = pd.read_html('https://www.101languages.net/arabic/most-common-arabic-words/')

In [14]:
df = dfs[0]

In [23]:
df.head()

   Number                                        Arabic Word in English word
0       1  Ù„Ø§ jQuery(document).ready(function($) { \t$('#...         No   Ù„Ø§
1       2  Ù…Ù† jQuery(document).ready(function($) { \t$('#...       From   Ù…Ù†
2       3  Ù‡Ø°Ø§ jQuery(document).ready(function($) { \t$('...       This  Ù‡Ø°Ø§
3       4  Ø£Ù† jQuery(document).ready(function($) { \t$('#...       That   Ø£Ù†
4       5  ÙÙŠ jQuery(document).ready(function($) { \t$('#...         In   ÙÙŠ

In [22]:
df['word'] = df.apply(lambda x: x[1].split()[0], axis=1)

In [24]:
alphabet_dfs = pd.read_html('https://en.wikipedia.org/wiki/History_of_the_alphabet')

In [29]:
alphabet_df = alphabet_dfs[3]

In [30]:
alphabet_df.head()

,nr.,Reconstruction,IPA,value,Ugaritic,Phoenician,Hebrew,Arabic,Greek,Latin,Cyrillic,Runic
0,1,"Ê¾alpu ""ox""",/Ê”/,1,ğ€,.mw-parser-output .script-phoenician{font-fami...,".mw-parser-output .script-hebrew,.mw-parser-ou...",".mw-parser-output .script-arabic{font-family:""...",Î‘ alpha,A,Ğ azÅ­,áš¨ *ansuz
1,2,"baytu ""house""",/b/,2,ğ,ğ¤â€ bÄ“t,×‘â€ bÄ“á¹¯,ïºâ€ bÄÊ¾,Î’ bÄ“ta,B,"Ğ’ vÄ•dÄ•, Ğ‘ buky",á›’ *berkanan
2,3,"gamlu ""throwstick""",/É¡/,3,ğ‚,ğ¤‚â€ gÄ«mel,×’â€ gÄ«mel,ïºâ€ jÄ«m,Î“ gamma,"C, G",Ğ“ glagoli,áš² *kaunan
3,4,"daltu ""door"" / diggu ""fish""","/d/, /Ã°/",4,ğ„,ğ¤ƒâ€ dÄlet,×“â€ dÄleá¹¯,"ïº©â€ dÄl, Ø°â€ á¸Äl",Î” delta,D,Ğ” dobro,NaN
4,5,"haw ""window"" / hallu ""jubilation""",/h/,5,ğ…,ğ¤„â€ hÄ“,×”â€ hÄ“,ï»«â€ hÄÊ¾,Î• epsilon,E,"Ğ• ye, Ğ„ estÄ­",NaN

In [33]:
alphabet_df[['Hebrew','Arabic']]

,Hebrew,Arabic
0,".mw-parser-output .script-hebrew,.mw-parser-ou...",".mw-parser-output .script-arabic{font-family:""..."
1,×‘â€ bÄ“á¹¯,ïºâ€ bÄÊ¾
2,×’â€ gÄ«mel,ïºâ€ jÄ«m
3,×“â€ dÄleá¹¯,"ïº©â€ dÄl, Ø°â€ á¸Äl"
4,×”â€ hÄ“,ï»«â€ hÄÊ¾
5,×•â€ vÄv,Ùˆâ€ wÄw
6,×–â€ zayin,Ø²â€ zayn or zÄy
7,×—â€ á¸¥Ä“á¹¯,"Ø­â€ á¸¥ÄÊ¾, Ø®â€ á¸«ÄÊ¾"
8,×˜â€ á¹­Ä“á¹¯,"Ø·â€ á¹­ÄÊ¾, Ø¸â€ áº“ÄÊ¾"
9,×™â€ yÅá¸,ÙŠâ€ yÄÊ¾
10,×› ×šâ€ kÄf,Ùƒâ€ kÄf
11,×œâ€ lÄmeá¸,Ù„â€ lÄm
12,× ×â€ mÄ“m,Ù…â€ mÄ«m
13,× ×Ÿâ€ nun,Ù†â€ nÅ«n
14,×¡â€ sÄmeá¸µ,NaN
15,×¢â€ Ê¿ayin,"Ø¹â€ Ê¿ayn, Øºâ€ Ä¡ayn"
16,×¤ ×£â€ pÄ“,Ùâ€ fÄÊ¾
17,×¦ ×¥â€ á¹£Äá¸i,"Øµâ€ á¹£Äd, Ø¶â€ á¸Äd"
18,×§â€ qÅf,Ù‚â€ qÄf
19,×¨â€ rÄ“Å¡,Ø±â€ rÄÊ¾
20,×©â€ Å¡in/Å›in,"Ø³â€ sÄ«n, Ø´â€ Å¡Ä«n"
21,×ªâ€ tÄv,"Øªâ€ tÄÊ¾, Ø«â€ á¹¯ÄÊ¾"

In [56]:
d = {}
for i in alphabet_df.index[1:]:
    heb = alphabet_df.loc[i, 'Hebrew']
    heb_letters = heb.split()[:-1]
    ar = alphabet_df.loc[i, 'Arabic']
    if type(ar)==float:
        continue
    ar_letters = ar.split(',')
    ar_letters = [a.split()[0].strip('\u200e') for a in ar_letters]
    for a in ar_letters:
        d[a] = heb_letters[0].strip('\u200e')

In [58]:
d['Ø§'] = '×'

In [59]:
d

{'ïº': '×‘',
 'ïº': '×’',
 'ïº©': '×“',
 'Ø°': '×“',
 'ï»«': '×”',
 'Ùˆ': '×•',
 'Ø²': '×–',
 'Ø­': '×—',
 'Ø®': '×—',
 'Ø·': '×˜',
 'Ø¸': '×˜',
 'ÙŠ': '×™',
 'Ùƒ': '×›',
 'Ù„': '×œ',
 'Ù…': '×',
 'Ù†': '× ',
 'Ø¹': '×¢',
 'Øº': '×¢',
 'Ù': '×¤',
 'Øµ': '×¦',
 'Ø¶': '×¦',
 'Ù‚': '×§',
 'Ø±': '×¨',
 'Ø³': '×©',
 'Ø´': '×©',
 'Øª': '×ª',
 'Ø«': '×ª',
 'Ø§': '×'}

In [60]:
df.head()

   Number                                        Arabic Word in English word
0       1  Ù„Ø§ jQuery(document).ready(function($) { \t$('#...         No   Ù„Ø§
1       2  Ù…Ù† jQuery(document).ready(function($) { \t$('#...       From   Ù…Ù†
2       3  Ù‡Ø°Ø§ jQuery(document).ready(function($) { \t$('...       This  Ù‡Ø°Ø§
3       4  Ø£Ù† jQuery(document).ready(function($) { \t$('#...       That   Ø£Ù†
4       5  ÙÙŠ jQuery(document).ready(function($) { \t$('#...         In   ÙÙŠ

In [71]:
word = df.loc[2,'word']

In [74]:
trans = ''.join([d[c] if c in d else c for c in word])

In [75]:
trans

'Ù‡×“×'

In [78]:
df['trans'] = df['word'].apply(lambda x: ''.join([d[c] if c in d else c for c in x]))

In [83]:
df[['in English','trans']].T

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
in English,No,From,This,That,In,I,On,What,Are,O,...,We will be,Team,Together,Loves,Boy,Work,Help,Process,Bear,Jane
trans,×œ×,××,Ù‡×“×,Ø£×,×¤×™,Ø£× ×,×¢×œÙ‰,××,Ù‡×œ,×™×,...,×©× ×›×•×,××œ×¤×¨×™×§,××¢×,×™×—Ø¨,××œ×•×œØ¯,Ø¨×¢××œ,××©××¢Ø¯Ø©,×¢××œ×™Ø©,×ª×—××œ,Ø¬×™×

In [85]:
df[['word', 'in English', 'trans']].to_csv('data/ar_top_100_trans.txt')