In [1]:
import pandas as pd

In [7]:
df = pd.read_html('https://www.cbinsights.com/research-unicorn-companies')[0]

In [8]:
df.head()

,Company,Valuation ($B),Date Joined,Country,Industry,Select Investors
0,Toutiao (Bytedance),$75,4/7/2017,China,Digital Media/ AI,"Sequoia Capital China, SIG Asia Investments, S..."
1,Uber,$72,8/23/2013,United States,On-Demand,"Lowercase Capital, Benchmark Capital, Google ..."
2,Didi Chuxing,$56,12/31/2014,China,On-Demand,"Matrix Partners, Tiger Global Management, Sof..."
3,NaN,NaN,NaN,NaN,NaN,NaN
4,WeWork,$47,2/3/2014,United States,Facilities,"T. Rowe Price, Benchmark Capital, SoftBank Group"

In [13]:
df['Industry'].value_counts().head()

Fintech                         33
Internet Software & Services    32
eCommerce/Marketplace           27
Healthcare                      18
Social                           9
Name: Industry, dtype: int64

In [21]:

df['Valuation ($B)'].str.replace('$', '').astype(float).sum()

1080.1299999999999

In [22]:
df['Company'].dropna().count()

326