In [103]:
import pandas as pd
import numpy as np
import re

In [6]:
y_dna = pd.read_html('https://en.wikipedia.org/wiki/Y-DNA_haplogroups_by_ethnic_group', match='Population')

In [77]:
y_dna_df = y_dna[0]

In [78]:
y_dna_df.head()

,Population,Language family[1],n[2],R1b[3],n,R1a,n.1,I,n.2,E1b1b,...,n.5,G,n.6,N,n.7,T,n.8,L,n.9,H
0,Albanians,IE (Albanian),NaN,NaN,NaN,NaN,106,23.625/106[4],44,2511/44[5],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albanians,IE (Albanian),51,23.6[6][7],51,9.85/51[6][7],51,9.6[6][7],51,26.6[6][7],...,51,1.961/51[6][7],51,0.0[6],51,0.0[6],51,0.0[6],NaN,NaN
2,Kosovo Albanians (Pristina),IE (Albanian),114,21.1024/114[7],114,4.425/114[7],114,7.969/114[7],114,47.4054/114[7],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albanians (Tirana),IE (Albanian),30,18.3[8],30,8.3[8],30,11.7[8],30,28.3[8],...,30,3.31/30[8],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Albanians,IE (Albanian),55,18.210/55[9],55,9.15/55[9],55,21.712/55[9],55,25.414/55[9],...,55,1.81/55[9],55,0.0[9],55,0.0[9],55,0.0[9],NaN,NaN

In [79]:
def remove_square_brackets(x):
    return re.sub('\[.+\]', '', x) if x==x else x

In [80]:
y_dna_df = y_dna_df.applymap(remove_square_brackets)

In [84]:
def calc_division(x):
    try:
        x0, x1 = x.split('/')
        if abs(float(x0[-1])/float(x1)*100 - float(x0[:-1]))<1:
            x, x0 = x0[:-1], x0[-1]
        else:
            x, x0 = x0[:-2], x0[-2:]
        return float(x0)/float(x1)*100
    except (ValueError,AttributeError):
        return x

In [85]:
y_dna_df = y_dna_df.applymap(calc_division)

In [86]:
y_dna_df.head()

,Population,Language family[1],n[2],R1b[3],n,R1a,n.1,I,n.2,E1b1b,...,n.5,G,n.6,N,n.7,T,n.8,L,n.9,H
0,Albanians,IE (Albanian),NaN,NaN,NaN,NaN,106,23.5849,44,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albanians,IE (Albanian),51,23.6,51,9.80392,51,9.6,51,26.6,...,51,1.96078,51,0.0,51,0.0,51,0.0,NaN,NaN
2,Kosovo Albanians (Pristina),IE (Albanian),114,21.0526,114,4.38596,114,7.89474,114,47.3684,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albanians (Tirana),IE (Albanian),30,18.3,30,8.3,30,11.7,30,28.3,...,30,3.33333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Albanians,IE (Albanian),55,18.1818,55,9.09091,55,21.8182,55,25.4545,...,55,1.81818,55,0.0,55,0.0,55,0.0,NaN,NaN

In [88]:
y_dna_df.mean()

Series([], dtype: float64)

In [89]:
cols = y_dna_df.columns[2:]

In [90]:
y_dna_df[cols] = y_dna_df[cols].apply(pd.to_numeric, errors='coerce')

In [91]:
y_dna_df.head()

,Population,Language family[1],n[2],R1b[3],n,R1a,n.1,I,n.2,E1b1b,...,n.5,G,n.6,N,n.7,T,n.8,L,n.9,H
0,Albanians,IE (Albanian),NaN,NaN,NaN,NaN,106.0,23.584906,44.0,25.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albanians,IE (Albanian),51.0,23.600000,51.0,9.803922,51.0,9.600000,51.0,26.600000,...,51.0,1.960784,51.0,0.0,51.0,0.0,51.0,0.0,NaN,NaN
2,Kosovo Albanians (Pristina),IE (Albanian),114.0,21.052632,114.0,4.385965,114.0,7.894737,114.0,47.368421,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albanians (Tirana),IE (Albanian),30.0,18.300000,30.0,8.300000,30.0,11.700000,30.0,28.300000,...,30.0,3.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Albanians,IE (Albanian),55.0,18.181818,55.0,9.090909,55.0,21.818182,55.0,25.454545,...,55.0,1.818182,55.0,0.0,55.0,0.0,55.0,0.0,NaN,NaN

In [92]:
y_dna_df.mean()

n[2]       91.110000
R1b[3]     19.233054
n          95.049020
R1a        16.273737
n.1       105.266667
I          13.773939
n.2        92.585714
E1b1b      17.718453
n.3        95.219178
E1b1a       0.952055
n.4        87.542683
J          20.395318
n.5        93.065574
G           9.633128
n.6        93.680328
N          10.596589
n.7        85.116505
T           1.649215
n.8        88.557692
L           3.155233
n.9              NaN
H          30.400000
dtype: float64

In [94]:
y_dna_lang_df = y_dna_df.groupby('Language family[1]').mean()

In [98]:
len(y_dna_lang_df.columns)

22

In [102]:
y_dna_lang_df.iloc[:, range(1,23,2)]

,R1b[3],R1a,I,E1b1b,E1b1a,J,G,N,T,L,H
Language family[1],,,,,,,,,,,
Afro-Asiatic (Ancient Egyptian),15.200000,NaN,NaN,21.200000,NaN,45.500000,NaN,NaN,NaN,NaN,NaN
Afro-Asiatic (Berber),NaN,NaN,NaN,90.345455,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
Afro-Asiatic (Chadic),40.600000,0.000000,0.000000,3.100000,12.500000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
Afro-Asiatic (Cushitic),1.587302,0.333333,0.000000,53.242943,0.750000,14.965079,0.166667,0.000000,5.166667,0.000000,NaN
Afro-Asiatic (Semitic),7.040909,3.936364,2.465000,31.621264,3.930769,38.336364,5.040000,0.025000,3.831250,0.978947,NaN
Basque (Basque),88.059701,0.000000,7.462687,1.492537,NaN,2.985075,0.000000,0.000000,0.000000,0.000000,NaN
Burushaski (isolate),1.000000,27.800000,0.000000,0.000000,NaN,8.200000,1.000000,0.000000,0.000000,16.500000,NaN
Dravidian (Northern),0.000000,31.550000,0.000000,0.000000,1.350000,28.100000,16.000000,0.450000,0.000000,7.650000,NaN
Dravidian (Southern),0.566667,19.400000,0.000000,0.000000,0.000000,18.766667,5.400000,0.000000,0.000000,17.983333,NaN
IE (Albanian),19.728641,6.364219,15.873294,32.079797,0.000000,21.658686,2.071094,0.000000,0.000000,0.000000,NaN
IE (Armenian),28.550000,5.450000,5.000000,4.400000,NaN,29.200000,11.000000,3.400000,NaN,1.600000,NaN
IE (Baltic),10.000000,37.750000,7.000000,0.900000,NaN,NaN,NaN,42.550000,NaN,NaN,NaN
IE (Celtic),67.390677,2.683333,11.388288,2.625000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IE (Celtic/Germanic),66.197183,19.718310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IE (Dardic),NaN,18.200000,0.000000,0.000000,NaN,9.100000,18.200000,0.000000,0.000000,25.000000,NaN
IE (German),35.600000,15.200000,34.750000,7.950000,NaN,NaN,1.300000,NaN,NaN,NaN,NaN
IE (German/Romance),NaN,NaN,7.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"IE (Germanic, North)",27.506077,21.379558,36.175691,2.050000,NaN,1.333333,NaN,8.833333,0.000000,0.000000,NaN
"IE (Germanic, West)",56.335714,8.539286,29.900000,5.025000,NaN,3.100000,NaN,0.000000,0.000000,NaN,NaN
IE (Germanic/Romance),63.043478,4.000000,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IE (Greek),15.698407,11.663466,15.821930,28.076439,0.000000,17.610960,6.464557,0.000000,2.052491,0.711473,NaN
IE (Indo-Aryan),0.450000,22.700000,1.750000,7.450000,0.000000,12.500000,0.000000,0.000000,0.000000,8.633333,60.0
"IE (Iranian, NE)",37.429032,9.114516,0.000000,3.000000,NaN,33.129032,30.000000,NaN,NaN,9.677419,NaN
"IE (Iranian, NW)",12.400000,19.800000,8.400000,7.700000,0.000000,28.000000,0.000000,0.000000,2.100000,13.600000,NaN
"IE (Iranian, SE)",4.200000,44.800000,0.000000,2.100000,NaN,6.300000,11.500000,0.000000,1.000000,12.500000,NaN
"IE (Iranian, West)",10.600000,11.150000,0.000000,2.550000,0.850000,34.150000,14.000000,3.500000,1.700000,4.500000,NaN
IE (Romance),38.693881,5.789556,17.234181,14.291971,0.000000,24.643419,24.556829,0.850000,2.443750,0.261538,NaN
"IE (Slavic, East)",6.793333,49.980000,18.361538,4.142857,0.000000,3.700000,1.109091,11.435714,1.000000,0.000000,NaN
"IE (Slavic, South)",10.324495,20.388600,37.935205,16.589919,0.000000,8.305858,2.867679,1.800000,0.600000,0.000000,0.8
"IE (Slavic, West)",21.800000,43.300000,16.450000,4.000000,NaN,2.850000,5.100000,2.400000,NaN,NaN,NaN
Kartvelian,11.700000,9.250000,0.750000,2.500000,0.000000,36.450000,30.950000,0.000000,1.550000,1.550000,NaN
Language family,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nilo-Saharan (Eastern Sudanic),10.300000,0.000000,5.100000,23.100000,0.000000,43.600000,NaN,0.000000,0.000000,0.000000,NaN
Nilo-Saharan (Fur),0.000000,0.000000,0.000000,59.400000,0.000000,6.300000,0.000000,0.000000,0.000000,0.000000,NaN
Nilo-Saharan (Maban),5.750000,0.000000,0.000000,62.837500,0.000000,3.150000,0.000000,0.000000,0.000000,0.000000,NaN
Northeast Caucasian,17.362500,2.522222,14.471429,2.800000,NaN,50.614286,5.120000,0.000000,0.850000,1.650000,NaN
Northwest Caucasian,4.000000,23.500000,16.650000,0.000000,0.000000,16.000000,19.333333,NaN,NaN,NaN,NaN
"Turkic, Karluk",11.733333,21.685714,1.533333,1.500000,0.000000,19.600000,4.400000,4.633333,0.000000,2.450000,NaN
"Turkic, Kipchak",20.606645,22.171429,1.214286,1.114286,0.000000,16.616667,14.333333,4.933333,0.325000,1.960000,NaN
"Turkic, Oghur",3.800000,31.600000,11.300000,0.000000,0.000000,24.200000,0.000000,27.800000,0.000000,0.000000,NaN
"Turkic, Oghuz",18.387500,11.937500,13.520000,9.307692,NaN,24.444444,11.725000,3.980000,2.625000,1.400000,NaN
"Turkic, Siberia",1.466667,23.800000,1.633333,1.000000,NaN,4.200000,NaN,31.774194,NaN,NaN,NaN
"Turkic, Siberian",6.000000,38.000000,0.000000,0.000000,NaN,2.000000,0.000000,10.000000,NaN,NaN,NaN
Uralic (Finnic),5.791667,25.162297,15.027895,0.833333,0.000000,1.460000,0.000000,51.635329,0.000000,0.000000,NaN
Uralic (Ugric),18.574468,17.127660,8.500000,8.000000,NaN,9.000000,3.000000,38.797872,NaN,NaN,NaN

In [95]:
y_dna_lang_df.columns

Index(['n[2]', 'R1b[3]', 'n', 'R1a', 'n.1', 'I', 'n.2', 'E1b1b', 'n.3',
       'E1b1a', 'n.4', 'J', 'n.5', 'G', 'n.6', 'N', 'n.7', 'T', 'n.8', 'L',
       'n.9', 'H'],
      dtype='object')