In [2]:
! pip install pywebarchive

Collecting pywebarchive
  Downloading pywebarchive-0.2.4-py3-none-any.whl (12 kB)
Installing collected packages: pywebarchive
Successfully installed pywebarchive-0.2.4

In [3]:
import webarchive
import pandas as pd
import shutil
import os
from tqdm.auto import tqdm

In [4]:
archive = webarchive.open("data/Xh/Tokens History | xHamsterLive 0.webarchive")

In [5]:
archive.extract('Tokens History | xHamsterLive.html')

In [7]:
shutil.move('Tokens History | xHamsterLive.html', 'data/Xh/Tokens History | xHamsterLive 0.html')

'data/Xh/Tokens History | xHamsterLive 0.html'

In [9]:
df = pd.read_html('data/Xh/Tokens History | xHamsterLive 0.html')

In [12]:
df[0].head()

,Date,Model,Type,Tokens
0,"July 23rd, 2020 7:07 AM",klidi_01,Public tip,15
1,"July 23rd, 2020 4:17 AM",AvisFlowers,Cam2Cam show (minimum duration charge),16
2,"July 23rd, 2020 4:17 AM",AvisFlowers,Cam2Cam show,16
3,"July 23rd, 2020 4:16 AM",AvisFlowers,Cam2Cam show,16
4,"July 23rd, 2020 4:15 AM",AvisFlowers,Cam2Cam show,16

In [17]:
shutil.move("data/Xh/Tokens History | xHamsterLive 2_.webarchive","data/Xh/Tokens History | xHamsterLive 1.webarchive")

'data/Xh/Tokens History | xHamsterLive 1.webarchive'

In [4]:
dfs = []
for i in tqdm(range(24,31)):
    archive = webarchive.open(f"data/Xh/Tokens History | xHamsterLive {i}.webarchive")
    archive.extract('Tokens History | xHamsterLive.html')
    shutil.move(f"Tokens History | xHamsterLive.html", f"data/Xh/Tokens History | xHamsterLive {i}.html")
    df = pd.read_html(f"data/Xh/Tokens History | xHamsterLive {i}.html")
    dfs.append(df[0])

  0%|          | 0/7 [00:00<?, ?it/s]

In [5]:
df = pd.concat(dfs)

In [6]:
df.head()

                       Date  Model               Type  Tokens
0  June 18th, 2021 10:56 AM  Hull1  Exclusive Private      16
1  June 18th, 2021 10:55 AM  Hull1  Exclusive Private      16
2  June 18th, 2021 10:54 AM  Hull1  Exclusive Private      16
3  June 18th, 2021 10:53 AM  Hull1  Exclusive Private      16
4  June 18th, 2021 10:52 AM  Hull1  Exclusive Private      16

In [7]:
df['Date'] = pd.to_datetime(df['Date'])

In [8]:
df = df.sort_values('Date')

In [9]:
# df = df[df['Type']=="Cam2Cam show"]
df = df[df['Type']=="Exclusive Private"]
df

                  Date         Model               Type  Tokens
45 2021-03-28 10:24:00  cyprusBeauty  Exclusive Private      24
43 2021-03-28 10:26:00  cyprusBeauty  Exclusive Private      24
44 2021-03-28 10:26:00  cyprusBeauty  Exclusive Private      24
42 2021-03-28 10:27:00  cyprusBeauty  Exclusive Private      24
41 2021-03-28 10:28:00  cyprusBeauty  Exclusive Private      24
..                 ...           ...                ...     ...
4  2021-06-18 10:52:00         Hull1  Exclusive Private      16
3  2021-06-18 10:53:00         Hull1  Exclusive Private      16
2  2021-06-18 10:54:00         Hull1  Exclusive Private      16
1  2021-06-18 10:55:00         Hull1  Exclusive Private      16
0  2021-06-18 10:56:00         Hull1  Exclusive Private      16

[603 rows x 4 columns]

In [10]:
df = df.drop_duplicates(subset='Model', keep='first')

In [11]:
df.to_csv('data/Xh/models3.csv')