In [4]:
! pip install pywebarchive

Requirement already satisfied: pywebarchive in /home/ec2-user/anaconda3/envs/pytorch_p36/lib/python3.6/site-packages (0.2.4)

In [5]:
import webarchive
import pandas as pd
import shutil
import os
from tqdm.auto import tqdm

In [4]:
archive = webarchive.open("data/Xh/Tokens History | xHamsterLive 0.webarchive")

In [5]:
archive.extract('Tokens History | xHamsterLive.html')

In [7]:
shutil.move('Tokens History | xHamsterLive.html', 'data/Xh/Tokens History | xHamsterLive 0.html')

'data/Xh/Tokens History | xHamsterLive 0.html'

In [9]:
df = pd.read_html('data/Xh/Tokens History | xHamsterLive 0.html')

In [12]:
df[0].head()

,Date,Model,Type,Tokens
0,"July 23rd, 2020 7:07 AM",klidi_01,Public tip,15
1,"July 23rd, 2020 4:17 AM",AvisFlowers,Cam2Cam show (minimum duration charge),16
2,"July 23rd, 2020 4:17 AM",AvisFlowers,Cam2Cam show,16
3,"July 23rd, 2020 4:16 AM",AvisFlowers,Cam2Cam show,16
4,"July 23rd, 2020 4:15 AM",AvisFlowers,Cam2Cam show,16

In [17]:
shutil.move("data/Xh/Tokens History | xHamsterLive 2_.webarchive","data/Xh/Tokens History | xHamsterLive 1.webarchive")

'data/Xh/Tokens History | xHamsterLive 1.webarchive'

In [6]:
dfs = []
for i in tqdm(range(20,24)):
    archive = webarchive.open(f"data/Xh/Tokens History | xHamsterLive {i}.webarchive")
    archive.extract('Tokens History | xHamsterLive.html')
    shutil.move(f"Tokens History | xHamsterLive.html", f"data/Xh/Tokens History | xHamsterLive {i}.html")
    df = pd.read_html(f"data/Xh/Tokens History | xHamsterLive {i}.html")
    dfs.append(df[0])

  0%|          | 0/4 [00:00<?, ?it/s]

In [18]:
df = pd.concat(dfs)

In [20]:
df.head()

                        Date        Model               Type  Tokens
0  March 25th, 2021 10:53 AM  MelanieNuls  Exclusive Private      24
1  March 25th, 2021 10:52 AM  MelanieNuls  Exclusive Private      24
2  March 25th, 2021 10:51 AM  MelanieNuls  Exclusive Private      24
3  March 25th, 2021 10:50 AM  MelanieNuls  Exclusive Private      24
4  March 25th, 2021 10:49 AM  MelanieNuls  Exclusive Private      24

In [21]:
df['Date'] = pd.to_datetime(df['Date'])

In [22]:
df = df.sort_values('Date')

In [24]:
# df = df[df['Type']=="Cam2Cam show"]
df = df[df['Type']=="Exclusive Private"]
df

                  Date        Model               Type  Tokens
89 2021-02-01 21:36:00  KellyWalter  Exclusive Private       8
87 2021-02-01 21:38:00  KellyWalter  Exclusive Private       8
88 2021-02-01 21:38:00  KellyWalter  Exclusive Private       8
86 2021-02-01 21:39:00  KellyWalter  Exclusive Private       8
85 2021-02-01 21:40:00  KellyWalter  Exclusive Private       8
..                 ...          ...                ...     ...
4  2021-03-25 10:49:00  MelanieNuls  Exclusive Private      24
3  2021-03-25 10:50:00  MelanieNuls  Exclusive Private      24
2  2021-03-25 10:51:00  MelanieNuls  Exclusive Private      24
1  2021-03-25 10:52:00  MelanieNuls  Exclusive Private      24
0  2021-03-25 10:53:00  MelanieNuls  Exclusive Private      24

[312 rows x 4 columns]

In [25]:
df = df.drop_duplicates(subset='Model', keep='first')

In [26]:
df.to_csv('data/Xh/models2.csv')