In [2]:
! pip install pywebarchive

Collecting pywebarchive
  Downloading pywebarchive-0.2.4-py3-none-any.whl (12 kB)
Installing collected packages: pywebarchive
Successfully installed pywebarchive-0.2.4
WARNING: You are using pip version 20.3.3; however, version 21.0.1 is available.
You should consider upgrading via the '/home/ec2-user/anaconda3/envs/pytorch_p36/bin/python -m pip install --upgrade pip' command.

In [38]:
import webarchive
import pandas as pd
import shutil
import os
from tqdm.auto import tqdm

In [4]:
archive = webarchive.open("data/Xh/Tokens History | xHamsterLive 0.webarchive")

In [5]:
archive.extract('Tokens History | xHamsterLive.html')

In [7]:
shutil.move('Tokens History | xHamsterLive.html', 'data/Xh/Tokens History | xHamsterLive 0.html')

'data/Xh/Tokens History | xHamsterLive 0.html'

In [9]:
df = pd.read_html('data/Xh/Tokens History | xHamsterLive 0.html')

In [12]:
df[0].head()

,Date,Model,Type,Tokens
0,"July 23rd, 2020 7:07 AM",klidi_01,Public tip,15
1,"July 23rd, 2020 4:17 AM",AvisFlowers,Cam2Cam show (minimum duration charge),16
2,"July 23rd, 2020 4:17 AM",AvisFlowers,Cam2Cam show,16
3,"July 23rd, 2020 4:16 AM",AvisFlowers,Cam2Cam show,16
4,"July 23rd, 2020 4:15 AM",AvisFlowers,Cam2Cam show,16

In [17]:
shutil.move("data/Xh/Tokens History | xHamsterLive 2_.webarchive","data/Xh/Tokens History | xHamsterLive 1.webarchive")

'data/Xh/Tokens History | xHamsterLive 1.webarchive'

In [55]:
dfs = []
for i in tqdm(range(20)):
    archive = webarchive.open(f"data/Xh/Tokens History | xHamsterLive {i}.webarchive")
    archive.extract('Tokens History | xHamsterLive.html')
    shutil.move(f"Tokens History | xHamsterLive.html", f"data/Xh/Tokens History | xHamsterLive {i}.html")
    df = pd.read_html(f"data/Xh/Tokens History | xHamsterLive {i}.html")
    dfs.append(df[0])

HBox(children=(FloatProgress(value=0.0, max=20.0), HTML(value='')))

In [56]:
df = pd.concat(dfs)

In [57]:
df.head()

,Date,Model,Type,Tokens
0,"July 23rd, 2020 7:07 AM",klidi_01,Public tip,15
1,"July 23rd, 2020 4:17 AM",AvisFlowers,Cam2Cam show (minimum duration charge),16
2,"July 23rd, 2020 4:17 AM",AvisFlowers,Cam2Cam show,16
3,"July 23rd, 2020 4:16 AM",AvisFlowers,Cam2Cam show,16
4,"July 23rd, 2020 4:15 AM",AvisFlowers,Cam2Cam show,16

In [58]:
df['Date'] = pd.to_datetime(df['Date'])

In [59]:
df = df.sort_values('Date')

In [63]:
df = df[df['Type']=="Cam2Cam show"]

In [64]:
df

                  Date        Model          Type  Tokens
29 2020-06-26 21:17:00      Yeralin  Cam2Cam show       8
28 2020-06-26 21:19:00      Yeralin  Cam2Cam show       8
26 2020-06-26 21:39:00      sisitay  Cam2Cam show       8
24 2020-06-26 21:49:00      sisitay  Cam2Cam show       8
23 2020-06-26 21:50:00      sisitay  Cam2Cam show       8
..                 ...          ...           ...     ...
4  2021-02-10 12:14:00  KellyWalter  Cam2Cam show       8
3  2021-02-10 12:15:00  KellyWalter  Cam2Cam show       8
2  2021-02-10 12:16:00  KellyWalter  Cam2Cam show       8
1  2021-02-10 12:17:00  KellyWalter  Cam2Cam show       8
0  2021-02-10 12:18:00  KellyWalter  Cam2Cam show       8

[1712 rows x 4 columns]

In [65]:
df = df.drop_duplicates(subset='Model', keep='first')

In [66]:
df.to_csv('data/Xh/models.csv')